:root {
    --ff-poppins: poppins;
    --fs-m: 16px;
    --fw-xl:400;
    --fw-2xl:600;
    --lh-xl:24px;
    --fs-3xl:36px;
    --fw-3xl:700;
    --lh-3xl:48.6px;
    --fs-2xl:24px;
    --lh-2xl:36px;
    --fs-4xl:48px;
    --lh-5xl:72px;
    --lh-6xl:96px;
    --fs-sm:14px;
    --lh-sm:21px;
    --fs-s:12px;
    --lh-s:18px;
    
}